 .u-section-1 {
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-shape-1 {
  width: 770px;
  height: 633px;
  margin: 104px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 480px;
  height: 734px;
  margin: -682px 10px 0 auto;
}

.u-group-1 {
  width: 570px;
  min-height: 571px;
  height: auto;
  margin: -683px 45px 0 auto;
}

 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-image-1 {
  width: 491px;
  height: 463px;
  margin: 108px auto 0 0;
}

.u-image-2 {
  width: 507px;
  height: 481px;
  margin: -551px 0 0 auto;
}

.u-section-1 .u-group-2 {
  width: 501px;
  min-height: 498px;
  height: auto;
  margin: -534px auto 60px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 13px 56px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-shape-1 {
    height: 598px;
    margin-top: 96px;
  }

  .u-section-1 .u-shape-2 {
    width: 316px;
    height: 577px;
    margin-top: -633px;
  }

  .u-group-1 {
    width: 449px;
    min-height: 478px;
    margin-top: -527px;
    margin-right: 21px;
    height: auto;
  }

  .u-image-1 {
    width: 370px;
    height: 355px;
    margin-top: 0;
  }

   .u-image-2 {
    height: 383px;
    width: 389px;
    margin-top: -443px;
    margin-bottom: -28px;
  }

  .u-section-1 .u-group-2 {
    width: 454px;
    min-height: 519px;
    margin-top: -455px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-shape-1 {
    height: 555px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 498px;
    height: 784px;
    margin-top: -73px;
    margin-right: 25px;
  }

  .u-group-1 {
    width: 631px;
    min-height: 618px;
    margin-top: -678px;
    margin-right: auto;
    margin-left: 0;
  }

 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-image-1 {
    width: 556px;
    height: 518px;
    margin-top: 101px;
  }

  .u-image-2 {
    width: 556px;
    height: 523px;
    margin-top: -605px;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    width: 692px;
    min-height: 419px;
    margin-top: -1168px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-1 .u-shape-2 {
    width: 393px;
    height: 698px;
    margin-top: 40px;
    margin-right: 10px;
  }

.u-group-1 {
    min-height: 574px;
    width: 500px;
    margin-top: -636px;
  }

  .u-image-1 {
    width: 446px;
    height: 446px;
  }

  .u-image-2 {
    width: 443px;
    height: 454px;
    margin-top: -533px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -1193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-shape-2 {
    width: 250px;
    height: 428px;
    margin-top: 58px;
    margin-right: 0;
  }

.u-group-1 {
    min-height: 340px;
    width: 300px;
    margin-top: -384px;
  }

   .u-image-1 {
    width: 270px;
    height: 231px;
  }

  .u-image-2 {
    width: 260px;
    height: 277px;
    margin-top: -319px;
  }

  .u-section-1 .u-group-2 {
    min-height: 497px;
    margin-top: -971px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}