@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');




:root{

  --primary-color: #4472c9;
  

}

body{
    padding: 0%;
    margin: 0%;
    background-color: #f6feff !important;
    font-family: sans-serif;
    /* color: aliceblue;*/
    overflow-x:hidden;

    
}


.navegation {
    width: 100%;
    background-color: black;
    overflow: auto;
    text-align: center;
    
    
    
       
  }
  
  


  .navegation a {
    float: left;
    vertical-align:  center;
    padding: 12px;
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    
    font-size: 14px;
    
    
  }
  .navegation a:hover{
 background-color: aliceblue;
 color: black;
 
 text-transform: uppercase;

  }



.button{
  margin: 5px;
}
  


  img {
    height: 100%;
    width: 100%;
    
   }




  .iconBar{
    
    height: 60px;
    width: 60px;
    vertical-align: center;
    
  }

  .botonesNav{
    
    float:right;
    padding: 5px;
    
    
  }

 
.Perfil {
  background: linear-gradient(-70deg, #4472c9 60%, rgba(0, 0, 0, 0) 70%), url('images/yosito2.jpg');
  
 

  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  height: 100vh;
 
  }

 .buttonDown{
  color:#fff;
  margin-left: 20px;
 
  
 }

 .buttonDown:hover{
  
  color: rgb(241, 93, 93);;

 }

#bienvenida{
  font:"Roboto";
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 20px;
 
   
  }

#intro{
      
      font-size: 35px;
      
      margin-left: 10px;
  
      }




#nombre{
 
  font-size: 50px;
 
color:#ffffff;
font-family: 'Lato', sans-serif;
font-weight: bolder;


}

#tagline{
  color: rgb(255, 255, 255); 
  
}

#undertag{
  color:#ffffff;
  font-size: 20px;
  font-style: italic;
  text-align: right;
}



#inicial-ape{
  color: rgb(0, 0, 0);
  border-color: white;
}




.fotosHeader {
      align-items: flex-start;
 
       
      }


.infoPerfil{
  
  margin: 80px;
  align-content: left;
  
  padding-left: 10px;
  position: relative;
  
  
 
  
}

.infocard{

  border: #130109;
  border-radius: 50%;
  border-width: 5px;
  padding: 15px;

}

.divisor{

  text-align: center;
  font-weight: bolder;
  font-size: 35px;
padding: 40px;

 
  

}

#subtitulo{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;

}

.about {

  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  height: 100vh;
 
}



.about-image {
  border-radius: 20px;
  height: auto;
}

.avatar-image {
  padding: 20px;

  border-radius: 20px;
  height: 50%;
  width: 50%;
}

.aboutTitle{
color: black;

}

.about-section{

  border: black;
  background-color: var(--primary-color);
}


.contenedorProyectos {
  
  height: auto;
  position:relative;
  margin-bottom: 50px;
  background-color: #cee4f1; 
    
   }


.infoProyectos{
border-radius: 30px;
border-color: #130109;
border-width: 10px;
color: #000000;
float: right;
margin-top:5px;
padding-top: 10px;

background-color: var(--primary-color);

vertical-align:-webkit-baseline-middle;

}

.proyectoBox{
 
  margin-top: 30px;
  padding: 30px;
}


#tituloSeccion{

font-weight: bold;
font:"Roboto";
  font-size: 25px;
  
  color: black;
  text-align: right;
  margin: 20px;
 

  }

  .projects-thumb {
    
    border: 2px solid transparent;
    
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 40px;
    transition: all ease 0.5s;
  }
  
  .projects-thumb:hover {
    border-color: var(--primary-color);
  }
  
  .projects-thumb:hover .projects-image,
  .projects-thumb:focus .projects-image {
    transform: rotate(0) translateY(0);
  }
  
  .projects-thumb .popup-image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .projects-image {
    border-radius: 1px;
    display: block;
    width: 100%;
    transform: rotate(10deg) translateY(80px);
    transition: all ease 0.5s;
  }
  
  .projects-title {
    margin-bottom: 20px;
  }
  
  .projects-tag {
    
    text-transform: uppercase;
    margin-bottom: 5px;
    
  }

  .projects-desc{
    font-size: small;

  }


  .contact-image{
 height: 240px;
 width: 230px;
 padding: 25px;
  }

#linkCard a:hover{
 color: lightblue;
}
#linkCard a{
  color: rgb(0, 0, 0);
 }

.boton-subir {
  position: fixed;
  z-index: 2;
  right: 5%;
  bottom: 10px;
  background-color: gray;
  padding: 20px;
  display: none;
  opacity: 0.7
}

.boton-subir a {
  font-size: 24px;
  color: #fff;
}


.footer{
  background-color: black;
color:#fff;
height: 40px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 15px;


}

  